<network>
    <name>{{ network_name }}</name>
    <forward mode='nat'>
        <nat>
            <port start='1024' end='65535'/>
        </nat>
    </forward>
    <ip address='{{ ip_address }}' netmask='{{ netmask }}'>
        <dhcp>
            <range start='{{ dhcp_start }}' end='{{ dhcp_end }}'/>
        </dhcp>
    </ip>
</network>
